.Header {
  background: #fff;
  padding: 15px;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
}

.fa-youtube {
  color: red;
}

/* @media (max-width: 530px) {
  .Header {
    background: rgb(44, 43, 43);
    color: #fff;
  }
} */